bootstrap/bpel_processes/BillingwithCreditNoteProcess/UBL_BillingWithCreditNote_AccountingSupplier_RaiseInvoice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_BillingWithCreditNote_AccountingSupplier_RaiseInvoice" targetNamespace="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/raiseInvoice"
   xmlns:tns="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/raiseInvoice" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/raiseInvoice" xmlns:tns="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/raiseInvoice">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2" schemaLocation="xsd/ubl/maindoc/UBL-Invoice-2.0.xsd" />
         <xsd:element name="raiseInvoice">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="inputDecision" nillable="true" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="raiseInvoiceResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="ns1:InvoiceType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="raiseInvoiceAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="inputDecision" nillable="true" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="raiseInvoiceAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="ns1:InvoiceType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="raiseInvoiceAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="raiseInvoiceRequestMsg">
      <wsdl:part element="tns:raiseInvoice" name="payload" />
   </wsdl:message>
   <wsdl:message name="raiseInvoiceResponseMsg">
      <wsdl:part element="tns:raiseInvoiceResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="raiseInvoiceAsyncRequestMsg">
      <wsdl:part element="tns:raiseInvoiceAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="raiseInvoiceAsyncCallbackRequestMsg">
      <wsdl:part element="tns:raiseInvoiceAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="raiseInvoiceAsyncCallbackResponseMsg">
      <wsdl:part element="tns:raiseInvoiceAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_BillingWithCreditNote_AccountingSupplier_RaiseInvoice">
      <wsdl:operation name="raiseInvoice">
         <wsdl:input message="tns:raiseInvoiceRequestMsg" name="raiseInvoiceRequest" />
         <wsdl:output message="tns:raiseInvoiceResponseMsg" name="raiseInvoiceResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="raiseInvoiceAsync">
         <wsdl:input message="tns:raiseInvoiceAsyncRequestMsg" name="raiseInvoiceAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_BillingWithCreditNote_AccountingSupplier_RaiseInvoiceServiceBinding" type="tns:UBL_BillingWithCreditNote_AccountingSupplier_RaiseInvoice">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="raiseInvoice">
         <soap:operation soapAction="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/raiseInvoice/raiseInvoice" />
         <wsdl:input name="raiseInvoiceRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="raiseInvoiceResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="raiseInvoiceAsync">
         <soap:operation soapAction="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/raiseInvoice/raiseInvoiceAsync" />
         <wsdl:input name="raiseInvoiceAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/raiseInvoice/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_BillingWithCreditNote_AccountingSupplier_RaiseInvoiceService">
      <wsdl:port name="UBL_BillingWithCreditNote_AccountingSupplier_RaiseInvoiceServicePort" binding="tns:UBL_BillingWithCreditNote_AccountingSupplier_RaiseInvoiceServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/billingwithcreditnote/accountingSupplier/raiseInvoice" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>