bootstrap/bootstrap/ode/WEB-INF/processes/PaymentProcess-1/UBL_PaymentProcess_AccountingCustomer_NotifyOfPayment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_PaymentProcess_AccountingCustomer_NotifyOfPayment" targetNamespace="http://ubl.oasis.services/payment/paymentprocess/accountingCustomer/notifyOfPayment"
   xmlns:tns="http://ubl.oasis.services/payment/paymentprocess/accountingCustomer/notifyOfPayment" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:RemittanceAdvice-2"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/payment/paymentprocess/accountingCustomer/notifyOfPayment" xmlns:tns="http://ubl.oasis.services/payment/paymentprocess/accountingCustomer/notifyOfPayment">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:RemittanceAdvice-2" schemaLocation="xsd/ubl/maindoc/UBL-RemittanceAdvice-2.0.xsd" />
         <xsd:element name="notifyOfPayment">
            <xsd:complexType>
               <xsd:sequence>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="notifyOfPaymentResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="ns1:RemittanceAdviceType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="notifyOfPaymentAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="notifyOfPaymentAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="ns1:RemittanceAdviceType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="notifyOfPaymentAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="notifyOfPaymentRequestMsg">
      <wsdl:part element="tns:notifyOfPayment" name="payload" />
   </wsdl:message>
   <wsdl:message name="notifyOfPaymentResponseMsg">
      <wsdl:part element="tns:notifyOfPaymentResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="notifyOfPaymentAsyncRequestMsg">
      <wsdl:part element="tns:notifyOfPaymentAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="notifyOfPaymentAsyncCallbackRequestMsg">
      <wsdl:part element="tns:notifyOfPaymentAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="notifyOfPaymentAsyncCallbackResponseMsg">
      <wsdl:part element="tns:notifyOfPaymentAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_PaymentProcess_AccountingCustomer_NotifyOfPayment">
      <wsdl:operation name="notifyOfPayment">
         <wsdl:input message="tns:notifyOfPaymentRequestMsg" name="notifyOfPaymentRequest" />
         <wsdl:output message="tns:notifyOfPaymentResponseMsg" name="notifyOfPaymentResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="notifyOfPaymentAsync">
         <wsdl:input message="tns:notifyOfPaymentAsyncRequestMsg" name="notifyOfPaymentAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_PaymentProcess_AccountingCustomer_NotifyOfPaymentService" type="tns:UBL_PaymentProcess_AccountingCustomer_NotifyOfPayment">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="notifyOfPayment">
         <soap:operation soapAction="http://ubl.oasis.services/payment/paymentprocess/accountingCustomer/notifyOfPayment/notifyOfPayment" />
         <wsdl:input name="notifyOfPaymentRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="notifyOfPaymentResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="notifyOfPaymentAsync">
         <soap:operation soapAction="http://ubl.oasis.services/payment/paymentprocess/accountingCustomer/notifyOfPayment/notifyOfPaymentAsync" />
         <wsdl:input name="notifyOfPaymentAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/payment/paymentprocess/accountingCustomer/notifyOfPayment/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_PaymentProcess_AccountingCustomer_NotifyOfPaymentService">
      <wsdl:port name="UBL_PaymentProcess_AccountingCustomer_NotifyOfPaymentServicePort" binding="tns:UBL_PaymentProcess_AccountingCustomer_NotifyOfPaymentService">
         <soap:address location="http://192.168.0.14:8082/services/ubl/paymentprocess/accountingCustomer/notifyOfPayment" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>