bootstrap/bpel_processes/CreateCatalogueProcess/UBL_CreateCatalogueProcess_ProviderParty_ReviseContent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_CreateCatalogueProcess_ProviderParty_ReviseContent" targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/reviseContent"
   xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/reviseContent" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2"
   xmlns:ns2="urn:oasis:names:specification:ubl:schema:xsd:CatalogueRequest-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/reviseContent" xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/reviseContent">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2" schemaLocation="xsd/ubl/maindoc/UBL-Catalogue-2.0.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CatalogueRequest-2" schemaLocation="xsd/ubl/maindoc/UBL-CatalogueRequest-2.0.xsd" />
         <xsd:element name="reviseContent">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="reviseContentResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="ns2:CatalogueRequestType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="reviseContentAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="reviseContentAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="ns2:CatalogueRequestType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="reviseContentAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="reviseContentRequestMsg">
      <wsdl:part element="tns:reviseContent" name="payload" />
   </wsdl:message>
   <wsdl:message name="reviseContentResponseMsg">
      <wsdl:part element="tns:reviseContentResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="reviseContentAsyncRequestMsg">
      <wsdl:part element="tns:reviseContentAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="reviseContentAsyncCallbackRequestMsg">
      <wsdl:part element="tns:reviseContentAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="reviseContentAsyncCallbackResponseMsg">
      <wsdl:part element="tns:reviseContentAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_CreateCatalogueProcess_ProviderParty_ReviseContent">
      <wsdl:operation name="reviseContent">
         <wsdl:input message="tns:reviseContentRequestMsg" name="reviseContentRequest" />
         <wsdl:output message="tns:reviseContentResponseMsg" name="reviseContentResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="reviseContentAsync">
         <wsdl:input message="tns:reviseContentAsyncRequestMsg" name="reviseContentAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_CreateCatalogueProcess_ProviderParty_ReviseContentServiceBinding" type="tns:UBL_CreateCatalogueProcess_ProviderParty_ReviseContent">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="reviseContent">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/reviseContent/reviseContent" />
         <wsdl:input name="reviseContentRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="reviseContentResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="reviseContentAsync">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/reviseContent/reviseContentAsync" />
         <wsdl:input name="reviseContentAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/reviseContent/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_CreateCatalogueProcess_ProviderParty_ReviseContentService">
      <wsdl:port name="UBL_CreateCatalogueProcess_ProviderParty_ReviseContentServicePort" binding="tns:UBL_CreateCatalogueProcess_ProviderParty_ReviseContentServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/createcatalogueprocess/providerParty/reviseContent" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>