bootstrap/bpel_processes/CreateCatalogueProcess/UBL_CreateCatalogueProcess_ReceiverParty_ReceiveRejection.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_CreateCatalogueProcess_ReceiverParty_ReceiveRejection" targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/receiveRejection"
   xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/receiveRejection" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/receiveRejection" xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/receiveRejection">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2" schemaLocation="xsd/ubl/maindoc/UBL-ApplicationResponse-2.0.xsd" />
         <xsd:element name="receiveRejection">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="input" nillable="true" type="ns1:ApplicationResponseType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="receiveRejectionResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="receiveRejectionAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="input" nillable="true" type="ns1:ApplicationResponseType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="receiveRejectionAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="receiveRejectionAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="receiveRejectionRequestMsg">
      <wsdl:part element="tns:receiveRejection" name="payload" />
   </wsdl:message>
   <wsdl:message name="receiveRejectionResponseMsg">
      <wsdl:part element="tns:receiveRejectionResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="receiveRejectionAsyncRequestMsg">
      <wsdl:part element="tns:receiveRejectionAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="receiveRejectionAsyncCallbackRequestMsg">
      <wsdl:part element="tns:receiveRejectionAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="receiveRejectionAsyncCallbackResponseMsg">
      <wsdl:part element="tns:receiveRejectionAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_CreateCatalogueProcess_ReceiverParty_ReceiveRejection">
      <wsdl:operation name="receiveRejection">
         <wsdl:input message="tns:receiveRejectionRequestMsg" name="receiveRejectionRequest" />
         <wsdl:output message="tns:receiveRejectionResponseMsg" name="receiveRejectionResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="receiveRejectionAsync">
         <wsdl:input message="tns:receiveRejectionAsyncRequestMsg" name="receiveRejectionAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_CreateCatalogueProcess_ReceiverParty_ReceiveRejectionServiceBinding" type="tns:UBL_CreateCatalogueProcess_ReceiverParty_ReceiveRejection">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="receiveRejection">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/receiveRejection/receiveRejection" />
         <wsdl:input name="receiveRejectionRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="receiveRejectionResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="receiveRejectionAsync">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/receiveRejection/receiveRejectionAsync" />
         <wsdl:input name="receiveRejectionAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/receiveRejection/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_CreateCatalogueProcess_ReceiverParty_ReceiveRejectionService">
      <wsdl:port name="UBL_CreateCatalogueProcess_ReceiverParty_ReceiveRejectionServicePort" binding="tns:UBL_CreateCatalogueProcess_ReceiverParty_ReceiveRejectionServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/createcatalogueprocess/receiverParty/receiveRejection" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>