bootstrap/bpel_processes/CreateCatalogueProcess/UBL_CreateCatalogueProcess_ReceiverParty_AcceptCatalogue.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_CreateCatalogueProcess_ReceiverParty_AcceptCatalogue" targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/acceptCatalogue"
   xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/acceptCatalogue" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/acceptCatalogue" xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/acceptCatalogue">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2" schemaLocation="xsd/ubl/maindoc/UBL-Catalogue-2.0.xsd" />
         <xsd:element name="acceptCatalogue">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="acceptCatalogueResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="acceptCatalogueAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="acceptCatalogueAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="acceptCatalogueAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="acceptCatalogueRequestMsg">
      <wsdl:part element="tns:acceptCatalogue" name="payload" />
   </wsdl:message>
   <wsdl:message name="acceptCatalogueResponseMsg">
      <wsdl:part element="tns:acceptCatalogueResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="acceptCatalogueAsyncRequestMsg">
      <wsdl:part element="tns:acceptCatalogueAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="acceptCatalogueAsyncCallbackRequestMsg">
      <wsdl:part element="tns:acceptCatalogueAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="acceptCatalogueAsyncCallbackResponseMsg">
      <wsdl:part element="tns:acceptCatalogueAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_CreateCatalogueProcess_ReceiverParty_AcceptCatalogue">
      <wsdl:operation name="acceptCatalogue">
         <wsdl:input message="tns:acceptCatalogueRequestMsg" name="acceptCatalogueRequest" />
         <wsdl:output message="tns:acceptCatalogueResponseMsg" name="acceptCatalogueResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="acceptCatalogueAsync">
         <wsdl:input message="tns:acceptCatalogueAsyncRequestMsg" name="acceptCatalogueAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_CreateCatalogueProcess_ReceiverParty_AcceptCatalogueServiceBinding" type="tns:UBL_CreateCatalogueProcess_ReceiverParty_AcceptCatalogue">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="acceptCatalogue">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/acceptCatalogue/acceptCatalogue" />
         <wsdl:input name="acceptCatalogueRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="acceptCatalogueResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="acceptCatalogueAsync">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/acceptCatalogue/acceptCatalogueAsync" />
         <wsdl:input name="acceptCatalogueAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/acceptCatalogue/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_CreateCatalogueProcess_ReceiverParty_AcceptCatalogueService">
      <wsdl:port name="UBL_CreateCatalogueProcess_ReceiverParty_AcceptCatalogueServicePort" binding="tns:UBL_CreateCatalogueProcess_ReceiverParty_AcceptCatalogueServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/createcatalogueprocess/receiverParty/acceptCatalogue" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>