bootstrap/bpel_processes/CreateCatalogueProcess/UBL_CreateCatalogueProcess_ProviderParty_SendAcceptanceResponse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_CreateCatalogueProcess_ProviderParty_SendAcceptanceResponse" targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/sendAcceptanceResponse"
   xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/sendAcceptanceResponse" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:CatalogueRequest-2"
   xmlns:ns2="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/sendAcceptanceResponse" xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/sendAcceptanceResponse">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CatalogueRequest-2" schemaLocation="xsd/ubl/maindoc/UBL-CatalogueRequest-2.0.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2" schemaLocation="xsd/ubl/maindoc/UBL-ApplicationResponse-2.0.xsd" />
         <xsd:element name="sendAcceptanceResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueRequestType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="sendAcceptanceResponseResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="ns2:ApplicationResponseType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="sendAcceptanceResponseAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueRequestType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="sendAcceptanceResponseAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="ns2:ApplicationResponseType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="sendAcceptanceResponseAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="sendAcceptanceResponseRequestMsg">
      <wsdl:part element="tns:sendAcceptanceResponse" name="payload" />
   </wsdl:message>
   <wsdl:message name="sendAcceptanceResponseResponseMsg">
      <wsdl:part element="tns:sendAcceptanceResponseResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="sendAcceptanceResponseAsyncRequestMsg">
      <wsdl:part element="tns:sendAcceptanceResponseAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="sendAcceptanceResponseAsyncCallbackRequestMsg">
      <wsdl:part element="tns:sendAcceptanceResponseAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="sendAcceptanceResponseAsyncCallbackResponseMsg">
      <wsdl:part element="tns:sendAcceptanceResponseAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_CreateCatalogueProcess_ProviderParty_SendAcceptanceResponse">
      <wsdl:operation name="sendAcceptanceResponse">
         <wsdl:input message="tns:sendAcceptanceResponseRequestMsg" name="sendAcceptanceResponseRequest" />
         <wsdl:output message="tns:sendAcceptanceResponseResponseMsg" name="sendAcceptanceResponseResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="sendAcceptanceResponseAsync">
         <wsdl:input message="tns:sendAcceptanceResponseAsyncRequestMsg" name="sendAcceptanceResponseAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_CreateCatalogueProcess_ProviderParty_SendAcceptanceResponseServiceBinding" type="tns:UBL_CreateCatalogueProcess_ProviderParty_SendAcceptanceResponse">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="sendAcceptanceResponse">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/sendAcceptanceResponse/sendAcceptanceResponse" />
         <wsdl:input name="sendAcceptanceResponseRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="sendAcceptanceResponseResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="sendAcceptanceResponseAsync">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/sendAcceptanceResponse/sendAcceptanceResponseAsync" />
         <wsdl:input name="sendAcceptanceResponseAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/sendAcceptanceResponse/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_CreateCatalogueProcess_ProviderParty_SendAcceptanceResponseService">
      <wsdl:port name="UBL_CreateCatalogueProcess_ProviderParty_SendAcceptanceResponseServicePort" binding="tns:UBL_CreateCatalogueProcess_ProviderParty_SendAcceptanceResponseServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/createcatalogueprocess/providerParty/sendAcceptanceResponse" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>