bootstrap/bpel_processes/CreateCatalogueProcess/UBL_CreateCatalogueProcess_ProviderParty_PrepareCatalogueInformation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_CreateCatalogueProcess_ProviderParty_PrepareCatalogueInformation" targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/prepareCatalogueInformation"
   xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/prepareCatalogueInformation" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:CatalogueRequest-2"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/prepareCatalogueInformation" xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/prepareCatalogueInformation">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CatalogueRequest-2" schemaLocation="xsd/ubl/maindoc/UBL-CatalogueRequest-2.0.xsd" />
         <xsd:element name="prepareCatalogueInformation">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueRequestType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="prepareCatalogueInformationResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="ns1:CatalogueRequestType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="prepareCatalogueInformationAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueRequestType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="prepareCatalogueInformationAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="ns1:CatalogueRequestType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="prepareCatalogueInformationAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="prepareCatalogueInformationRequestMsg">
      <wsdl:part element="tns:prepareCatalogueInformation" name="payload" />
   </wsdl:message>
   <wsdl:message name="prepareCatalogueInformationResponseMsg">
      <wsdl:part element="tns:prepareCatalogueInformationResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="prepareCatalogueInformationAsyncRequestMsg">
      <wsdl:part element="tns:prepareCatalogueInformationAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="prepareCatalogueInformationAsyncCallbackRequestMsg">
      <wsdl:part element="tns:prepareCatalogueInformationAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="prepareCatalogueInformationAsyncCallbackResponseMsg">
      <wsdl:part element="tns:prepareCatalogueInformationAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_CreateCatalogueProcess_ProviderParty_PrepareCatalogueInformation">
      <wsdl:operation name="prepareCatalogueInformation">
         <wsdl:input message="tns:prepareCatalogueInformationRequestMsg" name="prepareCatalogueInformationRequest" />
         <wsdl:output message="tns:prepareCatalogueInformationResponseMsg" name="prepareCatalogueInformationResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="prepareCatalogueInformationAsync">
         <wsdl:input message="tns:prepareCatalogueInformationAsyncRequestMsg" name="prepareCatalogueInformationAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_CreateCatalogueProcess_ProviderParty_PrepareCatalogueInformationServiceBinding" type="tns:UBL_CreateCatalogueProcess_ProviderParty_PrepareCatalogueInformation">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="prepareCatalogueInformation">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/prepareCatalogueInformation/prepareCatalogueInformation" />
         <wsdl:input name="prepareCatalogueInformationRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="prepareCatalogueInformationResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="prepareCatalogueInformationAsync">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/prepareCatalogueInformation/prepareCatalogueInformationAsync" />
         <wsdl:input name="prepareCatalogueInformationAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/prepareCatalogueInformation/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_CreateCatalogueProcess_ProviderParty_PrepareCatalogueInformationService">
      <wsdl:port name="UBL_CreateCatalogueProcess_ProviderParty_PrepareCatalogueInformationServicePort" binding="tns:UBL_CreateCatalogueProcess_ProviderParty_PrepareCatalogueInformationServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/createcatalogueprocess/providerParty/prepareCatalogueInformation" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>