catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/ordering/orderingprocess/sellerParty/UBL_OrderingProcess_SellerParty_ProcessOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_OrderingProcess_SellerParty_ProcessOrder" targetNamespace="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/processOrder"
   xmlns:tns="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/processOrder" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Order-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/processOrder" xmlns:tns="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/processOrder">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Order-2" schemaLocation="xsd/ubl/maindoc/UBL-Order-2.0.xsd" />
         <xsd:element name="processOrder">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="input" nillable="true" type="ns1:OrderType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="processOrderResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="outputDocument" nillable="true" type="ns1:OrderType" />
                  <xsd:element name="outputDecision" nillable="true" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="processOrderAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="input" nillable="true" type="ns1:OrderType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="processOrderAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="outputDocument" nillable="true" type="ns1:OrderType" />
                  <xsd:element name="outputDecision" nillable="true" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="processOrderAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="processOrderRequestMsg">
      <wsdl:part element="tns:processOrder" name="payload" />
   </wsdl:message>
   <wsdl:message name="processOrderResponseMsg">
      <wsdl:part element="tns:processOrderResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="processOrderAsyncRequestMsg">
      <wsdl:part element="tns:processOrderAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="processOrderAsyncCallbackRequestMsg">
      <wsdl:part element="tns:processOrderAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="processOrderAsyncCallbackResponseMsg">
      <wsdl:part element="tns:processOrderAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_OrderingProcess_SellerParty_ProcessOrder">
      <wsdl:operation name="processOrder">
         <wsdl:input message="tns:processOrderRequestMsg" name="processOrderRequest" />
         <wsdl:output message="tns:processOrderResponseMsg" name="processOrderResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="processOrderAsync">
         <wsdl:input message="tns:processOrderAsyncRequestMsg" name="processOrderAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_OrderingProcess_SellerParty_ProcessOrderServiceBinding" type="tns:UBL_OrderingProcess_SellerParty_ProcessOrder">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="processOrder">
         <soap:operation soapAction="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/processOrder/processOrder" />
         <wsdl:input name="processOrderRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="processOrderResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="processOrderAsync">
         <soap:operation soapAction="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/processOrder/processOrderAsync" />
         <wsdl:input name="processOrderAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/processOrder/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_OrderingProcess_SellerParty_ProcessOrderService">
      <wsdl:port name="UBL_OrderingProcess_SellerParty_ProcessOrderServicePort" binding="tns:UBL_OrderingProcess_SellerParty_ProcessOrderServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/orderingprocess/sellerParty/processOrder" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>