catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/ordering/orderingprocess/sellerParty/UBL_OrderingProcess_SellerParty_RejectOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_OrderingProcess_SellerParty_RejectOrder" targetNamespace="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/rejectOrder"
   xmlns:tns="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/rejectOrder" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Order-2" xmlns:ns2="urn:oasis:names:specification:ubl:schema:xsd:OrderResponse-2"
   xmlns:ns3="urn:oasis:names:specification:ubl:schema:xsd:OrderResponseSimple-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/rejectOrder" xmlns:tns="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/rejectOrder">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Order-2" schemaLocation="xsd/ubl/maindoc/UBL-Order-2.0.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:OrderResponse-2" schemaLocation="xsd/ubl/maindoc/UBL-OrderResponse-2.0.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:OrderResponseSimple-2" schemaLocation="xsd/ubl/maindoc/UBL-OrderResponseSimple-2.0.xsd" />
         <xsd:element name="rejectOrder">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="input" nillable="true" type="ns1:OrderType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="rejectOrderResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="outputOrderResponse" nillable="true" type="ns2:OrderResponseType" />
                  <xsd:element name="outputOrderResponseSimple" nillable="true" type="ns3:OrderResponseSimpleType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="rejectOrderAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="input" nillable="true" type="ns1:OrderType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="rejectOrderAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="outputOrderResponse" nillable="true" type="ns2:OrderResponseType" />
                  <xsd:element name="outputOrderResponseSimple" nillable="true" type="ns3:OrderResponseSimpleType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="rejectOrderAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="rejectOrderRequestMsg">
      <wsdl:part element="tns:rejectOrder" name="payload" />
   </wsdl:message>
   <wsdl:message name="rejectOrderResponseMsg">
      <wsdl:part element="tns:rejectOrderResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="rejectOrderAsyncRequestMsg">
      <wsdl:part element="tns:rejectOrderAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="rejectOrderAsyncCallbackRequestMsg">
      <wsdl:part element="tns:rejectOrderAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="rejectOrderAsyncCallbackResponseMsg">
      <wsdl:part element="tns:rejectOrderAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_OrderingProcess_SellerParty_RejectOrder">
      <wsdl:operation name="rejectOrder">
         <wsdl:input message="tns:rejectOrderRequestMsg" name="rejectOrderRequest" />
         <wsdl:output message="tns:rejectOrderResponseMsg" name="rejectOrderResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="rejectOrderAsync">
         <wsdl:input message="tns:rejectOrderAsyncRequestMsg" name="rejectOrderAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_OrderingProcess_SellerParty_RejectOrderServiceBinding" type="tns:UBL_OrderingProcess_SellerParty_RejectOrder">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="rejectOrder">
         <soap:operation soapAction="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/rejectOrder/rejectOrder" />
         <wsdl:input name="rejectOrderRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="rejectOrderResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="rejectOrderAsync">
         <soap:operation soapAction="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/rejectOrder/rejectOrderAsync" />
         <wsdl:input name="rejectOrderAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/rejectOrder/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_OrderingProcess_SellerParty_RejectOrderService">
      <wsdl:port name="UBL_OrderingProcess_SellerParty_RejectOrderServicePort" binding="tns:UBL_OrderingProcess_SellerParty_RejectOrderServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/orderingprocess/sellerParty/rejectOrder" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>