catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/ordering/orderingprocess/sellerParty/UBL_OrderingProcess_SellerParty_AddDetail.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_OrderingProcess_SellerParty_AddDetail" targetNamespace="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/addDetail"
   xmlns:tns="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/addDetail" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Order-2" xmlns:ns2="urn:oasis:names:specification:ubl:schema:xsd:OrderResponse-2"
   xmlns:ns3="urn:oasis:names:specification:ubl:schema:xsd:OrderResponseSimple-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/addDetail" xmlns:tns="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/addDetail">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Order-2" schemaLocation="xsd/ubl/maindoc/UBL-Order-2.0.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:OrderResponse-2" schemaLocation="xsd/ubl/maindoc/UBL-OrderResponse-2.0.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:OrderResponseSimple-2" schemaLocation="xsd/ubl/maindoc/UBL-OrderResponseSimple-2.0.xsd" />
         <xsd:element name="addDetail">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="input" nillable="true" type="ns1:OrderType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="addDetailResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="outputOrderResponse" nillable="true" type="ns2:OrderResponseType" />
                  <xsd:element name="outputOrderResponseSimple" nillable="true" type="ns3:OrderResponseSimpleType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="addDetailAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="input" nillable="true" type="ns1:OrderType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="addDetailAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="outputOrderResponse" nillable="true" type="ns2:OrderResponseType" />
                  <xsd:element name="outputOrderResponseSimple" nillable="true" type="ns3:OrderResponseSimpleType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="addDetailAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="addDetailRequestMsg">
      <wsdl:part element="tns:addDetail" name="payload" />
   </wsdl:message>
   <wsdl:message name="addDetailResponseMsg">
      <wsdl:part element="tns:addDetailResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="addDetailAsyncRequestMsg">
      <wsdl:part element="tns:addDetailAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="addDetailAsyncCallbackRequestMsg">
      <wsdl:part element="tns:addDetailAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="addDetailAsyncCallbackResponseMsg">
      <wsdl:part element="tns:addDetailAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_OrderingProcess_SellerParty_AddDetail">
      <wsdl:operation name="addDetail">
         <wsdl:input message="tns:addDetailRequestMsg" name="addDetailRequest" />
         <wsdl:output message="tns:addDetailResponseMsg" name="addDetailResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="addDetailAsync">
         <wsdl:input message="tns:addDetailAsyncRequestMsg" name="addDetailAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_OrderingProcess_SellerParty_AddDetailServiceBinding" type="tns:UBL_OrderingProcess_SellerParty_AddDetail">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="addDetail">
         <soap:operation soapAction="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/addDetail/addDetail" />
         <wsdl:input name="addDetailRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="addDetailResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="addDetailAsync">
         <soap:operation soapAction="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/addDetail/addDetailAsync" />
         <wsdl:input name="addDetailAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/ordering/orderingprocess/sellerParty/addDetail/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_OrderingProcess_SellerParty_AddDetailService">
      <wsdl:port name="UBL_OrderingProcess_SellerParty_AddDetailServicePort" binding="tns:UBL_OrderingProcess_SellerParty_AddDetailServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/orderingprocess/sellerParty/addDetail" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>