catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/UBL_BillingWithCreditNote_AccountingSupplier_ReceiveAccountResponse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_BillingWithCreditNote_AccountingSupplier_ReceiveAccountResponse" targetNamespace="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/receiveAccountResponse"
	xmlns:tns="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/receiveAccountResponse" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/receiveAccountResponse" xmlns:tns="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/receiveAccountResponse">
			<xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2" schemaLocation="xsd/ubl/maindoc/UBL-ApplicationResponse-2.0.xsd" />
			<xsd:element name="receiveAccountResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="inputDecision" nillable="true" type="xsd:string" />
						<xsd:element name="inputApplicationResponse" nillable="true" type="ns1:ApplicationResponseType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="receiveAccountResponseResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="outputDecision" nillable="true" type="xsd:string" />
						<xsd:element name="outputApplicationResponse" nillable="true" type="ns1:ApplicationResponseType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Async -->
			<xsd:element name="receiveAccountResponseAsync">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
						<xsd:element name="inputDecision" nillable="true" type="xsd:string" />
						<xsd:element name="inputApplicationResponse" nillable="true" type="ns1:ApplicationResponseType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="receiveAccountResponseAsyncCallback">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
						<xsd:element name="outputDecision" nillable="true" type="xsd:string" />
						<xsd:element name="outputApplicationResponse" nillable="true" type="ns1:ApplicationResponseType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="receiveAccountResponseAsyncCallbackResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Async -->
			<xsd:element name="alive">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="aliveResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="output" nillable="true" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="receiveAccountResponseRequestMsg">
		<wsdl:part element="tns:receiveAccountResponse" name="payload" />
	</wsdl:message>
	<wsdl:message name="receiveAccountResponseResponseMsg">
		<wsdl:part element="tns:receiveAccountResponseResponse" name="payload" />
	</wsdl:message>
	<!-- Async -->
	<wsdl:message name="receiveAccountResponseAsyncRequestMsg">
		<wsdl:part element="tns:receiveAccountResponseAsync" name="payload" />
	</wsdl:message>
	<wsdl:message name="receiveAccountResponseAsyncCallbackRequestMsg">
		<wsdl:part element="tns:receiveAccountResponseAsyncCallback" name="payload" />
	</wsdl:message>
	<wsdl:message name="receiveAccountResponseAsyncCallbackResponseMsg">
		<wsdl:part element="tns:receiveAccountResponseAsyncCallbackResponse" name="payload" />
	</wsdl:message>
	<!-- Async -->
	<wsdl:message name="aliveRequestMsg">
		<wsdl:part element="tns:alive" name="payload" />
	</wsdl:message>
	<wsdl:message name="aliveResponseMsg">
		<wsdl:part element="tns:aliveResponse" name="payload" />
	</wsdl:message>
	<wsdl:portType name="UBL_BillingWithCreditNote_AccountingSupplier_ReceiveAccountResponse">
		<wsdl:operation name="receiveAccountResponse">
			<wsdl:input message="tns:receiveAccountResponseRequestMsg" name="receiveAccountResponseRequest" />
			<wsdl:output message="tns:receiveAccountResponseResponseMsg" name="receiveAccountResponseResponse" />
		</wsdl:operation>
		<!-- Async -->
		<wsdl:operation name="receiveAccountResponseAsync">
			<wsdl:input message="tns:receiveAccountResponseAsyncRequestMsg" name="receiveAccountResponseAsyncRequest" />
		</wsdl:operation>
		<!-- Async -->
		<wsdl:operation name="alive">
			<wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
			<wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UBL_BillingWithCreditNote_AccountingSupplier_ReceiveAccountResponseServiceBinding" type="tns:UBL_BillingWithCreditNote_AccountingSupplier_ReceiveAccountResponse">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="receiveAccountResponse">
			<soap:operation soapAction="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/receiveAccountResponse/receiveAccountResponse" />
			<wsdl:input name="receiveAccountResponseRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="receiveAccountResponseResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<!-- Async -->
		<wsdl:operation name="receiveAccountResponseAsync">
			<soap:operation soapAction="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/receiveAccountResponse/receiveAccountResponseAsync" />
			<wsdl:input name="receiveAccountResponseAsyncRequest">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<!-- Async -->
		<wsdl:operation name="alive">
			<soap:operation soapAction="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/receiveAccountResponse/alive" />
			<wsdl:input name="aliveRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="aliveResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UBL_BillingWithCreditNote_AccountingSupplier_ReceiveAccountResponseService">
		<wsdl:port name="UBL_BillingWithCreditNote_AccountingSupplier_ReceiveAccountResponseServicePort" binding="tns:UBL_BillingWithCreditNote_AccountingSupplier_ReceiveAccountResponseServiceBinding">
			<soap:address location="http://localhost:8082/services/ubl/billingwithcreditnote/accountingSupplier/receiveAccountResponse" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>