catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/UBL_BillingWithCreditNote_AccountingSupplier_RaiseCreditNote.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_BillingWithCreditNote_AccountingSupplier_RaiseCreditNote" targetNamespace="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/raiseCreditNote"
   xmlns:tns="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/raiseCreditNote" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:CreditNote-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/raiseCreditNote" xmlns:tns="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/raiseCreditNote">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CreditNote-2" schemaLocation="xsd/ubl/maindoc/UBL-CreditNote-2.0.xsd" />
         <xsd:element name="raiseCreditNote">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="inputDecision" nillable="true" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="raiseCreditNoteResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="ns1:CreditNoteType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="raiseCreditNoteAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="inputDecision" nillable="true" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="raiseCreditNoteAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="ns1:CreditNoteType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="raiseCreditNoteAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="raiseCreditNoteRequestMsg">
      <wsdl:part element="tns:raiseCreditNote" name="payload" />
   </wsdl:message>
   <wsdl:message name="raiseCreditNoteResponseMsg">
      <wsdl:part element="tns:raiseCreditNoteResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="raiseCreditNoteAsyncRequestMsg">
      <wsdl:part element="tns:raiseCreditNoteAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="raiseCreditNoteAsyncCallbackRequestMsg">
      <wsdl:part element="tns:raiseCreditNoteAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="raiseCreditNoteAsyncCallbackResponseMsg">
      <wsdl:part element="tns:raiseCreditNoteAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_BillingWithCreditNote_AccountingSupplier_RaiseCreditNote">
      <wsdl:operation name="raiseCreditNote">
         <wsdl:input message="tns:raiseCreditNoteRequestMsg" name="raiseCreditNoteRequest" />
         <wsdl:output message="tns:raiseCreditNoteResponseMsg" name="raiseCreditNoteResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="raiseCreditNoteAsync">
         <wsdl:input message="tns:raiseCreditNoteAsyncRequestMsg" name="raiseCreditNoteAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_BillingWithCreditNote_AccountingSupplier_RaiseCreditNoteServiceBinding" type="tns:UBL_BillingWithCreditNote_AccountingSupplier_RaiseCreditNote">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="raiseCreditNote">
         <soap:operation soapAction="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/raiseCreditNote/raiseCreditNote" />
         <wsdl:input name="raiseCreditNoteRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="raiseCreditNoteResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="raiseCreditNoteAsync">
         <soap:operation soapAction="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/raiseCreditNote/raiseCreditNoteAsync" />
         <wsdl:input name="raiseCreditNoteAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingSupplier/raiseCreditNote/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_BillingWithCreditNote_AccountingSupplier_RaiseCreditNoteService">
      <wsdl:port name="UBL_BillingWithCreditNote_AccountingSupplier_RaiseCreditNoteServicePort" binding="tns:UBL_BillingWithCreditNote_AccountingSupplier_RaiseCreditNoteServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/billingwithcreditnote/accountingSupplier/raiseCreditNote" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>