catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/ordering/orderingprocess/buyerParty/UBL_OrderingProcess_BuyerParty_PlaceOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_OrderingProcess_BuyerParty_PlaceOrder" targetNamespace="http://ubl.oasis.services/ordering/orderingprocess/buyerParty/placeOrder"
   xmlns:tns="http://ubl.oasis.services/ordering/orderingprocess/buyerParty/placeOrder" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Order-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/ordering/orderingprocess/buyerParty/placeOrder" xmlns:tns="http://ubl.oasis.services/ordering/orderingprocess/buyerParty/placeOrder">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Order-2" schemaLocation="xsd/ubl/maindoc/UBL-Order-2.0.xsd" />
         <xsd:element name="placeOrder">
            <xsd:complexType>
               <xsd:sequence>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="placeOrderResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="ns1:OrderType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="placeOrderAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="placeOrderAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="ns1:OrderType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="placeOrderAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="placeOrderRequestMsg">
      <wsdl:part element="tns:placeOrder" name="payload" />
   </wsdl:message>
   <wsdl:message name="placeOrderResponseMsg">
      <wsdl:part element="tns:placeOrderResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="placeOrderAsyncRequestMsg">
      <wsdl:part element="tns:placeOrderAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="placeOrderAsyncCallbackRequestMsg">
      <wsdl:part element="tns:placeOrderAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="placeOrderAsyncCallbackResponseMsg">
      <wsdl:part element="tns:placeOrderAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_OrderingProcess_BuyerParty_PlaceOrder">
      <wsdl:operation name="placeOrder">
         <wsdl:input message="tns:placeOrderRequestMsg" name="placeOrderRequest" />
         <wsdl:output message="tns:placeOrderResponseMsg" name="placeOrderResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="placeOrderAsync">
         <wsdl:input message="tns:placeOrderAsyncRequestMsg" name="placeOrderAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_OrderingProcess_BuyerParty_PlaceOrderService" type="tns:UBL_OrderingProcess_BuyerParty_PlaceOrder">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="placeOrder">
         <soap:operation soapAction="http://ubl.oasis.services/ordering/orderingprocess/buyerParty/placeOrder/placeOrder" />
         <wsdl:input name="placeOrderRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="placeOrderResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="placeOrderAsync">
         <soap:operation soapAction="http://ubl.oasis.services/ordering/orderingprocess/buyerParty/placeOrder/placeOrderAsync" />
         <wsdl:input name="placeOrderAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/ordering/orderingprocess/buyerParty/placeOrder/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_OrderingProcess_BuyerParty_PlaceOrderService">
      <wsdl:port name="UBL_OrderingProcess_BuyerParty_PlaceOrderServicePort" binding="tns:UBL_OrderingProcess_BuyerParty_PlaceOrderService">
         <soap:address location="http://localhost:8082/services/ubl/orderingprocess/buyerParty/placeOrder" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>