catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/ordering/orderingprocess/buyerParty/UBL_OrderingProcess_BuyerParty_AcceptOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_OrderingProcess_BuyerParty_AcceptOrder" targetNamespace="http://ubl.oasis.services/ordering/orderingprocess/buyerParty/acceptOrder"
   xmlns:tns="http://ubl.oasis.services/ordering/orderingprocess/buyerParty/acceptOrder" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:OrderResponseSimple-2" xmlns:ns2="urn:oasis:names:specification:ubl:schema:xsd:OrderResponse-2"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/ordering/orderingprocess/buyerParty/acceptOrder" xmlns:tns="http://ubl.oasis.services/ordering/orderingprocess/buyerParty/acceptOrder">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:OrderResponseSimple-2" schemaLocation="xsd/ubl/maindoc/UBL-OrderResponseSimple-2.0.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:OrderResponse-2" schemaLocation="xsd/ubl/maindoc/UBL-OrderResponse-2.0.xsd" />
         <xsd:element name="acceptOrder">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="inputOrderResponseSimple" nillable="true" type="ns1:OrderResponseSimpleType" />
                  <xsd:element name="inputOrderResponse" nillable="true" type="ns2:OrderResponseType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="acceptOrderResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="acceptOrderAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="inputOrderResponseSimple" nillable="true" type="ns1:OrderResponseSimpleType" />
                  <xsd:element name="inputOrderResponse" nillable="true" type="ns2:OrderResponseType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="acceptOrderAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="acceptOrderAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="acceptOrderRequestMsg">
      <wsdl:part element="tns:acceptOrder" name="payload" />
   </wsdl:message>
   <wsdl:message name="acceptOrderResponseMsg">
      <wsdl:part element="tns:acceptOrderResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="acceptOrderAsyncRequestMsg">
      <wsdl:part element="tns:acceptOrderAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="acceptOrderAsyncCallbackRequestMsg">
      <wsdl:part element="tns:acceptOrderAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="acceptOrderAsyncCallbackResponseMsg">
      <wsdl:part element="tns:acceptOrderAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_OrderingProcess_BuyerParty_AcceptOrder">
      <wsdl:operation name="acceptOrder">
         <wsdl:input message="tns:acceptOrderRequestMsg" name="acceptOrderRequest" />
         <wsdl:output message="tns:acceptOrderResponseMsg" name="acceptOrderResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="acceptOrderAsync">
         <wsdl:input message="tns:acceptOrderAsyncRequestMsg" name="acceptOrderAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_OrderingProcess_BuyerParty_AcceptOrderServiceBinding" type="tns:UBL_OrderingProcess_BuyerParty_AcceptOrder">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="acceptOrder">
         <soap:operation soapAction="http://ubl.oasis.services/ordering/orderingprocess/buyerParty/acceptOrder/acceptOrder" />
         <wsdl:input name="acceptOrderRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="acceptOrderResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="acceptOrderAsync">
         <soap:operation soapAction="http://ubl.oasis.services/ordering/orderingprocess/buyerParty/acceptOrder/acceptOrderAsync" />
         <wsdl:input name="acceptOrderAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/ordering/orderingprocess/buyerParty/acceptOrder/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_OrderingProcess_BuyerParty_AcceptOrderService">
      <wsdl:port name="UBL_OrderingProcess_BuyerParty_AcceptOrderServicePort" binding="tns:UBL_OrderingProcess_BuyerParty_AcceptOrderServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/orderingprocess/buyerParty/acceptOrder" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>