catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/fulfilment/fulfilmentwithreceiptadvice/buyerParty/UBL_FulfilmentWithReceiptAdvice_BuyerParty_AdjustOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_FulfilmentWithOrderChange_BuyerParty_AdjustOrder" targetNamespace="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/buyerParty/adjustOrder"
	xmlns:tns="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/buyerParty/adjustOrder" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Order-2"
	xmlns:ns2="urn:oasis:names:specification:ubl:schema:xsd:OrderChange-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/buyerParty/adjustOrder" xmlns:tns="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/buyerParty/adjustOrder">
			<xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Order-2" schemaLocation="xsd/ubl/maindoc/UBL-Order-2.0.xsd" />
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:OrderChange-2" schemaLocation="xsd/ubl/maindoc/UBL-OrderChange-2.0.xsd" />
			<xsd:element name="adjustOrder">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="input" nillable="true" type="ns1:OrderType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="adjustOrderResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="outputOrderChange" nillable="true" type="ns2:OrderChangeType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Async -->
			<xsd:element name="adjustOrderAsync">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
						<xsd:element name="input" nillable="true" type="ns1:OrderType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="adjustOrderAsyncCallback">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
						<xsd:element name="outputOrderChange" nillable="true" type="ns2:OrderChangeType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="adjustOrderAsyncCallbackResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Async -->
			<xsd:element name="alive">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="aliveResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="output" nillable="true" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="adjustOrderRequestMsg">
		<wsdl:part element="tns:adjustOrder" name="payload" />
	</wsdl:message>
	<wsdl:message name="adjustOrderResponseMsg">
		<wsdl:part element="tns:adjustOrderResponse" name="payload" />
	</wsdl:message>
	<!-- Async -->
	<wsdl:message name="adjustOrderAsyncRequestMsg">
		<wsdl:part element="tns:adjustOrderAsync" name="payload" />
	</wsdl:message>
	<wsdl:message name="adjustOrderAsyncCallbackRequestMsg">
		<wsdl:part element="tns:adjustOrderAsyncCallback" name="payload" />
	</wsdl:message>
	<wsdl:message name="adjustOrderAsyncCallbackResponseMsg">
		<wsdl:part element="tns:adjustOrderAsyncCallbackResponse" name="payload" />
	</wsdl:message>
	<!-- Async -->
	<wsdl:message name="aliveRequestMsg">
		<wsdl:part element="tns:alive" name="payload" />
	</wsdl:message>
	<wsdl:message name="aliveResponseMsg">
		<wsdl:part element="tns:aliveResponse" name="payload" />
	</wsdl:message>
	<wsdl:portType name="UBL_FulfilmentWithOrderChange_BuyerParty_AdjustOrder">
		<wsdl:operation name="adjustOrder">
			<wsdl:input message="tns:adjustOrderRequestMsg" name="adjustOrderRequest" />
			<wsdl:output message="tns:adjustOrderResponseMsg" name="adjustOrderResponse" />
		</wsdl:operation>
		<!-- Async -->
		<wsdl:operation name="adjustOrderAsync">
			<wsdl:input message="tns:adjustOrderAsyncRequestMsg" name="adjustOrderAsyncRequest" />
		</wsdl:operation>
		<!-- Async -->
		<wsdl:operation name="alive">
			<wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
			<wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UBL_FulfilmentWithOrderChange_BuyerParty_AdjustOrderServiceBinding" type="tns:UBL_FulfilmentWithOrderChange_BuyerParty_AdjustOrder">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="adjustOrder">
			<soap:operation soapAction="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/buyerParty/adjustOrder/adjustOrder" />
			<wsdl:input name="adjustOrderRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="adjustOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<!-- Async -->
		<wsdl:operation name="adjustOrderAsync">
			<soap:operation soapAction="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/buyerParty/adjustOrder/adjustOrderAsync" />
			<wsdl:input name="adjustOrderAsyncRequest">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<!-- Async -->
		<wsdl:operation name="alive">
			<soap:operation soapAction="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/buyerParty/adjustOrder/alive" />
			<wsdl:input name="aliveRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="aliveResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UBL_FulfilmentWithOrderChange_BuyerParty_AdjustOrderService">
		<wsdl:port name="UBL_FulfilmentWithOrderChange_BuyerParty_AdjustOrderServicePort" binding="tns:UBL_FulfilmentWithOrderChange_BuyerParty_AdjustOrderServiceBinding">
			<soap:address location="http://localhost:8082/services/ubl/fulfilmentwithreceiptadvice/buyerParty/adjustOrder" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>