catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/billing/traditionalbilling/billingwithcreditnote/accountingCustomer/UBL_BillingWithCreditNote_AccountingCustomer_ReceiveInvoice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_BillingWithCreditNote_AccountingCustomer_ReceiveInvoice" targetNamespace="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingCustomer/receiveInvoice"
   xmlns:tns="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingCustomer/receiveInvoice" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingCustomer/receiveInvoice" xmlns:tns="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingCustomer/receiveInvoice">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2" schemaLocation="xsd/ubl/maindoc/UBL-Invoice-2.0.xsd" />
         <xsd:element name="receiveInvoice">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="input" nillable="true" type="ns1:InvoiceType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="receiveInvoiceResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="ns1:InvoiceType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="receiveInvoiceAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="input" nillable="true" type="ns1:InvoiceType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="receiveInvoiceAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="ns1:InvoiceType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="receiveInvoiceAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="receiveInvoiceRequestMsg">
      <wsdl:part element="tns:receiveInvoice" name="payload" />
   </wsdl:message>
   <wsdl:message name="receiveInvoiceResponseMsg">
      <wsdl:part element="tns:receiveInvoiceResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="receiveInvoiceAsyncRequestMsg">
      <wsdl:part element="tns:receiveInvoiceAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="receiveInvoiceAsyncCallbackRequestMsg">
      <wsdl:part element="tns:receiveInvoiceAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="receiveInvoiceAsyncCallbackResponseMsg">
      <wsdl:part element="tns:receiveInvoiceAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_BillingWithCreditNote_AccountingCustomer_ReceiveInvoice">
      <wsdl:operation name="receiveInvoice">
         <wsdl:input message="tns:receiveInvoiceRequestMsg" name="receiveInvoiceRequest" />
         <wsdl:output message="tns:receiveInvoiceResponseMsg" name="receiveInvoiceResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="receiveInvoiceAsync">
         <wsdl:input message="tns:receiveInvoiceAsyncRequestMsg" name="receiveInvoiceAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_BillingWithCreditNote_AccountingCustomer_ReceiveInvoiceServiceBinding" type="tns:UBL_BillingWithCreditNote_AccountingCustomer_ReceiveInvoice">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="receiveInvoice">
         <soap:operation soapAction="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingCustomer/receiveInvoice/receiveInvoice" />
         <wsdl:input name="receiveInvoiceRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="receiveInvoiceResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="receiveInvoiceAsync">
         <soap:operation soapAction="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingCustomer/receiveInvoice/receiveInvoiceAsync" />
         <wsdl:input name="receiveInvoiceAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/billing/traditionalbilling/billingwithcreditnote/accountingCustomer/receiveInvoice/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_BillingWithCreditNote_AccountingCustomer_ReceiveInvoiceService">
      <wsdl:port name="UBL_BillingWithCreditNote_AccountingCustomer_ReceiveInvoiceServicePort" binding="tns:UBL_BillingWithCreditNote_AccountingCustomer_ReceiveInvoiceServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/billingwithcreditnote/accountingCustomer/receiveInvoice" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>