catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/UBL_CreateCatalogueProcess_ReceiverParty_QueryCatalogueContent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_CreateCatalogueProcess_ReceiverParty_QueryCatalogueContent" targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/queryCatalogueContent"
   xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/queryCatalogueContent" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2"
   xmlns:ns2="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/queryCatalogueContent" xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/queryCatalogueContent">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2" schemaLocation="xsd/ubl/maindoc/UBL-Catalogue-2.0.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2" schemaLocation="xsd/ubl/maindoc/UBL-ApplicationResponse-2.0.xsd" />
         <xsd:element name="queryCatalogueContent">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="queryCatalogueContentResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="outputCatalogue" nillable="true" type="ns1:CatalogueType" />
                  <xsd:element name="outputApplicationResponse" nillable="true" type="ns2:ApplicationResponseType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="queryCatalogueContentAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="queryCatalogueContentAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="outputCatalogue" nillable="true" type="ns1:CatalogueType" />
                  <xsd:element name="outputApplicationResponse" nillable="true" type="ns2:ApplicationResponseType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="queryCatalogueContentAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="queryCatalogueContentRequestMsg">
      <wsdl:part element="tns:queryCatalogueContent" name="payload" />
   </wsdl:message>
   <wsdl:message name="queryCatalogueContentResponseMsg">
      <wsdl:part element="tns:queryCatalogueContentResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="queryCatalogueContentAsyncRequestMsg">
      <wsdl:part element="tns:queryCatalogueContentAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="queryCatalogueContentAsyncCallbackRequestMsg">
      <wsdl:part element="tns:queryCatalogueContentAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="queryCatalogueContentAsyncCallbackResponseMsg">
      <wsdl:part element="tns:queryCatalogueContentAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_CreateCatalogueProcess_ReceiverParty_QueryCatalogueContent">
      <wsdl:operation name="queryCatalogueContent">
         <wsdl:input message="tns:queryCatalogueContentRequestMsg" name="queryCatalogueContentRequest" />
         <wsdl:output message="tns:queryCatalogueContentResponseMsg" name="queryCatalogueContentResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="queryCatalogueContentAsync">
         <wsdl:input message="tns:queryCatalogueContentAsyncRequestMsg" name="queryCatalogueContentAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_CreateCatalogueProcess_ReceiverParty_QueryCatalogueContentServiceBinding" type="tns:UBL_CreateCatalogueProcess_ReceiverParty_QueryCatalogueContent">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="queryCatalogueContent">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/queryCatalogueContent/queryCatalogueContent" />
         <wsdl:input name="queryCatalogueContentRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="queryCatalogueContentResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="queryCatalogueContentAsync">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/queryCatalogueContent/queryCatalogueContentAsync" />
         <wsdl:input name="queryCatalogueContentAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/queryCatalogueContent/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_CreateCatalogueProcess_ReceiverParty_QueryCatalogueContentService">
      <wsdl:port name="UBL_CreateCatalogueProcess_ReceiverParty_QueryCatalogueContentServicePort" binding="tns:UBL_CreateCatalogueProcess_ReceiverParty_QueryCatalogueContentServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/createcatalogueprocess/receiverParty/queryCatalogueContent" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>