catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/UBL_CreateCatalogueProcess_ReceiverParty_ReceiveCatalogue.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_CreateCatalogueProcess_ReceiverParty_ReceiveCatalogue" targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/receiveCatalogue"
   xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/receiveCatalogue" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2"
   xmlns:ns2="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/receiveCatalogue" xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/receiveCatalogue">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2" schemaLocation="xsd/ubl/maindoc/UBL-Catalogue-2.0.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2" schemaLocation="xsd/ubl/maindoc/UBL-ApplicationResponse-2.0.xsd" />
         <xsd:element name="receiveCatalogue">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="inputCatalogue" nillable="true" type="ns1:CatalogueType" />
                  <xsd:element name="inputApplicationResponse" nillable="true" type="ns2:ApplicationResponseType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="receiveCatalogueResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="receiveCatalogueAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="inputCatalogue" nillable="true" type="ns1:CatalogueType" />
                  <xsd:element name="inputApplicationResponse" nillable="true" type="ns2:ApplicationResponseType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="receiveCatalogueAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="receiveCatalogueAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="receiveCatalogueRequestMsg">
      <wsdl:part element="tns:receiveCatalogue" name="payload" />
   </wsdl:message>
   <wsdl:message name="receiveCatalogueResponseMsg">
      <wsdl:part element="tns:receiveCatalogueResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="receiveCatalogueAsyncRequestMsg">
      <wsdl:part element="tns:receiveCatalogueAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="receiveCatalogueAsyncCallbackRequestMsg">
      <wsdl:part element="tns:receiveCatalogueAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="receiveCatalogueAsyncCallbackResponseMsg">
      <wsdl:part element="tns:receiveCatalogueAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_CreateCatalogueProcess_ReceiverParty_ReceiveCatalogue">
      <wsdl:operation name="receiveCatalogue">
         <wsdl:input message="tns:receiveCatalogueRequestMsg" name="receiveCatalogue" />
         <wsdl:output message="tns:receiveCatalogueResponseMsg" name="receiveCatalogueResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="receiveCatalogueAsync">
         <wsdl:input message="tns:receiveCatalogueAsyncRequestMsg" name="receiveCatalogueAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_CreateCatalogueProcess_ReceiverParty_ReceiveCatalogueServiceBinding" type="tns:UBL_CreateCatalogueProcess_ReceiverParty_ReceiveCatalogue">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="receiveCatalogue">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/receiveCatalogue/receiveCatalogue" />
         <wsdl:input name="receiveCatalogue">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="receiveCatalogueResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="receiveCatalogueAsync">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/receiveCatalogue/receiveCatalogueAsync" />
         <wsdl:input name="receiveCatalogueAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/receiveCatalogue/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_CreateCatalogueProcess_ReceiverParty_ReceiveCatalogueService">
      <wsdl:port name="UBL_CreateCatalogueProcess_ReceiverParty_ReceiveCatalogueServicePort" binding="tns:UBL_CreateCatalogueProcess_ReceiverParty_ReceiveCatalogueServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/createcatalogueprocess/receiverParty/receiveCatalogue" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>