catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/UBL_CreateCatalogueProcess_ReceiverParty_AcknowledgeAcceptance.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_CreateCatalogueProcess_ReceiverParty_AcknowledgeAcceptance" targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/acknowledgeAcceptance"
   xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/acknowledgeAcceptance" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2"
   xmlns:ns2="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/acknowledgeAcceptance" xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/acknowledgeAcceptance">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2" schemaLocation="xsd/ubl/maindoc/UBL-Catalogue-2.0.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2" schemaLocation="xsd/ubl/maindoc/UBL-ApplicationResponse-2.0.xsd" />
         <xsd:element name="acknowledgeAcceptance">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="acknowledgeAcceptanceResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="outputCatalogue" nillable="true" type="ns1:CatalogueType" />
                  <xsd:element name="outputApplicationResponse" nillable="true" type="ns2:ApplicationResponseType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="acknowledgeAcceptanceAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="acknowledgeAcceptanceAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="outputCatalogue" nillable="true" type="ns1:CatalogueType" />
                  <xsd:element name="outputApplicationResponse" nillable="true" type="ns2:ApplicationResponseType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="acknowledgeAcceptanceAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="acknowledgeAcceptanceRequestMsg">
      <wsdl:part element="tns:acknowledgeAcceptance" name="payload" />
   </wsdl:message>
   <wsdl:message name="acknowledgeAcceptanceResponseMsg">
      <wsdl:part element="tns:acknowledgeAcceptanceResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="acknowledgeAcceptanceAsyncRequestMsg">
      <wsdl:part element="tns:acknowledgeAcceptanceAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="acknowledgeAcceptanceAsyncCallbackRequestMsg">
      <wsdl:part element="tns:acknowledgeAcceptanceAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="acknowledgeAcceptanceAsyncCallbackResponseMsg">
      <wsdl:part element="tns:acknowledgeAcceptanceAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_CreateCatalogueProcess_ReceiverParty_AcknowledgeAcceptance">
      <wsdl:operation name="acknowledgeAcceptance">
         <wsdl:input message="tns:acknowledgeAcceptanceRequestMsg" name="acknowledgeAcceptanceRequest" />
         <wsdl:output message="tns:acknowledgeAcceptanceResponseMsg" name="acknowledgeAcceptanceResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="acknowledgeAcceptanceAsync">
         <wsdl:input message="tns:acknowledgeAcceptanceAsyncRequestMsg" name="acknowledgeAcceptanceAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_CreateCatalogueProcess_ReceiverParty_AcknowledgeAcceptanceServiceBinding" type="tns:UBL_CreateCatalogueProcess_ReceiverParty_AcknowledgeAcceptance">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="acknowledgeAcceptance">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/acknowledgeAcceptance/acknowledgeAcceptance" />
         <wsdl:input name="acknowledgeAcceptanceRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="acknowledgeAcceptanceResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="acknowledgeAcceptanceAsync">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/acknowledgeAcceptance/acknowledgeAcceptanceAsync" />
         <wsdl:input name="acknowledgeAcceptanceAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/acknowledgeAcceptance/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_CreateCatalogueProcess_ReceiverParty_AcknowledgeAcceptanceService">
      <wsdl:port name="UBL_CreateCatalogueProcess_ReceiverParty_AcknowledgeAcceptanceServicePort" binding="tns:UBL_CreateCatalogueProcess_ReceiverParty_AcknowledgeAcceptanceServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/createcatalogueprocess/receiverParty/acknowledgeAcceptance" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>