catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/UBL_CreateCatalogueProcess_ReceiverParty_ReviewCatalogueContent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_CreateCatalogueProcess_ReceiverParty_ReviewCatalogueContent" targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/reviewCatalogueContent"
   xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/reviewCatalogueContent" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/reviewCatalogueContent" xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/reviewCatalogueContent">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2" schemaLocation="xsd/ubl/maindoc/UBL-Catalogue-2.0.xsd" />
         <xsd:element name="reviewCatalogueContent">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="reviewCatalogueContentResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="outputDocument" nillable="true" type="ns1:CatalogueType" />
                  <xsd:element name="outputDecision" nillable="true" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="reviewCatalogueContentAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="reviewCatalogueContentAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="outputDocument" nillable="true" type="ns1:CatalogueType" />
                  <xsd:element name="outputDecision" nillable="true" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="reviewCatalogueContentAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="reviewCatalogueContentRequestMsg">
      <wsdl:part element="tns:reviewCatalogueContent" name="payload" />
   </wsdl:message>
   <wsdl:message name="reviewCatalogueContentResponseMsg">
      <wsdl:part element="tns:reviewCatalogueContentResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="reviewCatalogueContentAsyncRequestMsg">
      <wsdl:part element="tns:reviewCatalogueContentAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="reviewCatalogueContentAsyncCallbackRequestMsg">
      <wsdl:part element="tns:reviewCatalogueContentAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="reviewCatalogueContentAsyncCallbackResponseMsg">
      <wsdl:part element="tns:reviewCatalogueContentAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_CreateCatalogueProcess_ReceiverParty_ReviewCatalogueContent">
      <wsdl:operation name="reviewCatalogueContent">
         <wsdl:input message="tns:reviewCatalogueContentRequestMsg" name="reviewCatalogueContentRequest" />
         <wsdl:output message="tns:reviewCatalogueContentResponseMsg" name="reviewCatalogueContentResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="reviewCatalogueContentAsync">
         <wsdl:input message="tns:reviewCatalogueContentAsyncRequestMsg" name="reviewCatalogueContentAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_CreateCatalogueProcess_ReceiverParty_ReviewCatalogueContentServiceBinding" type="tns:UBL_CreateCatalogueProcess_ReceiverParty_ReviewCatalogueContent">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="reviewCatalogueContent">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/reviewCatalogueContent/reviewCatalogueContent" />
         <wsdl:input name="reviewCatalogueContentRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="reviewCatalogueContentResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="reviewCatalogueContentAsync">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/reviewCatalogueContent/reviewCatalogueContentAsync" />
         <wsdl:input name="reviewCatalogueContentAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/receiverParty/reviewCatalogueContent/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_CreateCatalogueProcess_ReceiverParty_ReviewCatalogueContentService">
      <wsdl:port name="UBL_CreateCatalogueProcess_ReceiverParty_ReviewCatalogueContentServicePort" binding="tns:UBL_CreateCatalogueProcess_ReceiverParty_ReviewCatalogueContentServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/createcatalogueprocess/receiverParty/reviewCatalogueContent" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>