bootstrap/bpel_processes/FulfilmentwithReceiptAdviceProcess/UBL_FulfilmentWithReceiptAdvice_DeliveryParty_CheckStatusOfItems.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_FulfilmentWithReceiptAdvice_DeliveryParty_CheckStatusOfItems" targetNamespace="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/deliveryParty/checkStatusOfItems"
   xmlns:tns="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/deliveryParty/checkStatusOfItems" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Order-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/deliveryParty/checkStatusOfItems" xmlns:tns="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/deliveryParty/checkStatusOfItems">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Order-2" schemaLocation="xsd/ubl/maindoc/UBL-Order-2.0.xsd" />
         <xsd:element name="checkStatusOfItems">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="input" nillable="true" type="ns1:OrderType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="checkStatusOfItemsResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="ns1:OrderType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="checkStatusOfItemsAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="input" nillable="true" type="ns1:OrderType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="checkStatusOfItemsAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="ns1:OrderType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="checkStatusOfItemsAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="checkStatusOfItemsRequestMsg">
      <wsdl:part element="tns:checkStatusOfItems" name="payload" />
   </wsdl:message>
   <wsdl:message name="checkStatusOfItemsResponseMsg">
      <wsdl:part element="tns:checkStatusOfItemsResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="checkStatusOfItemsAsyncRequestMsg">
      <wsdl:part element="tns:checkStatusOfItemsAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="checkStatusOfItemsAsyncCallbackRequestMsg">
      <wsdl:part element="tns:checkStatusOfItemsAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="checkStatusOfItemsAsyncCallbackResponseMsg">
      <wsdl:part element="tns:checkStatusOfItemsAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_FulfilmentWithReceiptAdvice_DeliveryParty_CheckStatusOfItems">
      <wsdl:operation name="checkStatusOfItems">
         <wsdl:input message="tns:checkStatusOfItemsRequestMsg" name="checkStatusOfItemsRequest" />
         <wsdl:output message="tns:checkStatusOfItemsResponseMsg" name="checkStatusOfItemsResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="checkStatusOfItemsAsync">
         <wsdl:input message="tns:checkStatusOfItemsAsyncRequestMsg" name="checkStatusOfItemsAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_FulfilmentWithReceiptAdvice_DeliveryParty_CheckStatusOfItemsServiceBinding" type="tns:UBL_FulfilmentWithReceiptAdvice_DeliveryParty_CheckStatusOfItems">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="checkStatusOfItems">
         <soap:operation soapAction="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/deliveryParty/checkStatusOfItems/checkStatusOfItems" />
         <wsdl:input name="checkStatusOfItemsRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="checkStatusOfItemsResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="checkStatusOfItemsAsync">
         <soap:operation soapAction="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/deliveryParty/checkStatusOfItems/checkStatusOfItemsAsync" />
         <wsdl:input name="checkStatusOfItemsAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/deliveryParty/checkStatusOfItems/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_FulfilmentWithReceiptAdvice_DeliveryParty_CheckStatusOfItemsService">
      <wsdl:port name="UBL_FulfilmentWithReceiptAdvice_DeliveryParty_CheckStatusOfItemsServicePort" binding="tns:UBL_FulfilmentWithReceiptAdvice_DeliveryParty_CheckStatusOfItemsServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/fulfilmentwithreceiptadvice/deliveryParty/checkStatusOfItems" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>