bootstrap/bpel_processes/FulfilmentwithReceiptAdviceProcess/UBL_FulfilmentWithReceiptAdvice_DeliveryParty_ReceiveOrderItems.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_FulfilmentWithReceiptAdvice_DeliveryParty_ReceiveOrderItems" targetNamespace="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/deliveryParty/receiveOrderItems"
   xmlns:tns="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/deliveryParty/receiveOrderItems" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Order-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/deliveryParty/receiveOrderItems" xmlns:tns="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/deliveryParty/receiveOrderItems">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Order-2" schemaLocation="xsd/ubl/maindoc/UBL-Order-2.0.xsd" />
         <xsd:element name="receiveOrderItems">
            <xsd:complexType>
               <xsd:sequence>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="receiveOrderItemsResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="ns1:OrderType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="receiveOrderItemsAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="receiveOrderItemsAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="ns1:OrderType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="receiveOrderItemsAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="receiveOrderItemsRequestMsg">
      <wsdl:part element="tns:receiveOrderItems" name="payload" />
   </wsdl:message>
   <wsdl:message name="receiveOrderItemsResponseMsg">
      <wsdl:part element="tns:receiveOrderItemsResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="receiveOrderItemsAsyncRequestMsg">
      <wsdl:part element="tns:receiveOrderItemsAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="receiveOrderItemsAsyncCallbackRequestMsg">
      <wsdl:part element="tns:receiveOrderItemsAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="receiveOrderItemsAsyncCallbackResponseMsg">
      <wsdl:part element="tns:receiveOrderItemsAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_FulfilmentWithReceiptAdvice_DeliveryParty_ReceiveOrderItems">
      <wsdl:operation name="receiveOrderItems">
         <wsdl:input message="tns:receiveOrderItemsRequestMsg" name="receiveOrderItemsRequest" />
         <wsdl:output message="tns:receiveOrderItemsResponseMsg" name="receiveOrderItemsResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="receiveOrderItemsAsync">
         <wsdl:input message="tns:receiveOrderItemsAsyncRequestMsg" name="receiveOrderItemsAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_FulfilmentWithReceiptAdvice_DeliveryParty_ReceiveOrderItemsService" type="tns:UBL_FulfilmentWithReceiptAdvice_DeliveryParty_ReceiveOrderItems">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="receiveOrderItems">
         <soap:operation soapAction="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/deliveryParty/receiveOrderItems/receiveOrderItems" />
         <wsdl:input name="receiveOrderItemsRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="receiveOrderItemsResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="receiveOrderItemsAsync">
         <soap:operation soapAction="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/deliveryParty/receiveOrderItems/receiveOrderItemsAsync" />
         <wsdl:input name="receiveOrderItemsAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/fulfilment/fulfilmentwithreceiptadvice/deliveryParty/receiveOrderItems/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_FulfilmentWithReceiptAdvice_DeliveryParty_ReceiveOrderItemsService">
      <wsdl:port name="UBL_FulfilmentWithReceiptAdvice_DeliveryParty_ReceiveOrderItemsServicePort" binding="tns:UBL_FulfilmentWithReceiptAdvice_DeliveryParty_ReceiveOrderItemsService">
         <soap:address location="http://localhost:8082/services/ubl/fulfilmentwithreceiptadvice/deliveryParty/receiveOrderItems" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>