catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/sourcing/catalogueprovision/createcatalogueprocess/providerParty/UBL_CreateCatalogueProcess_ProviderParty_ProduceCatalogue.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_CreateCatalogueProcess_ProviderParty_ProduceCatalogue" targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/produceCatalogue"
   xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/produceCatalogue" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:CatalogueRequest-2"
   xmlns:ns2="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/produceCatalogue" xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/produceCatalogue">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CatalogueRequest-2" schemaLocation="xsd/ubl/maindoc/UBL-CatalogueRequest-2.0.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2" schemaLocation="xsd/ubl/maindoc/UBL-Catalogue-2.0.xsd" />
         <xsd:element name="produceCatalogue">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueRequestType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="produceCatalogueResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="ns2:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="produceCatalogueAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueRequestType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="produceCatalogueAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="ns2:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="produceCatalogueAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="produceCatalogueRequestMsg">
      <wsdl:part element="tns:produceCatalogue" name="payload" />
   </wsdl:message>
   <wsdl:message name="produceCatalogueResponseMsg">
      <wsdl:part element="tns:produceCatalogueResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="produceCatalogueAsyncRequestMsg">
      <wsdl:part element="tns:produceCatalogueAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="produceCatalogueAsyncCallbackRequestMsg">
      <wsdl:part element="tns:produceCatalogueAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="produceCatalogueAsyncCallbackResponseMsg">
      <wsdl:part element="tns:produceCatalogueAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_CreateCatalogueProcess_ProviderParty_ProduceCatalogue">
      <wsdl:operation name="produceCatalogue">
         <wsdl:input message="tns:produceCatalogueRequestMsg" name="produceCatalogueRequest" />
         <wsdl:output message="tns:produceCatalogueResponseMsg" name="produceCatalogueResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="produceCatalogueAsync">
         <wsdl:input message="tns:produceCatalogueAsyncRequestMsg" name="produceCatalogueAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_CreateCatalogueProcess_ProviderParty_ProduceCatalogueServiceBinding" type="tns:UBL_CreateCatalogueProcess_ProviderParty_ProduceCatalogue">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="produceCatalogue">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/produceCatalogue/produceCatalogue" />
         <wsdl:input name="produceCatalogueRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="produceCatalogueResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="produceCatalogueAsync">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/produceCatalogue/produceCatalogueAsync" />
         <wsdl:input name="produceCatalogueAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/produceCatalogue/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_CreateCatalogueProcess_ProviderParty_ProduceCatalogueService">
      <wsdl:port name="UBL_CreateCatalogueProcess_ProviderParty_ProduceCatalogueServicePort" binding="tns:UBL_CreateCatalogueProcess_ProviderParty_ProduceCatalogueServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/createcatalogueprocess/providerParty/produceCatalogue" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>