catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/sourcing/catalogueprovision/createcatalogueprocess/providerParty/UBL_CreateCatalogueProcess_ProviderParty_DistributeCatalogue.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_CreateCatalogueProcess_ProviderParty_DistributeCatalogue" targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/distributeCatalogue"
   xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/distributeCatalogue" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/distributeCatalogue" xmlns:tns="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/distributeCatalogue">
         <xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
         <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2" schemaLocation="xsd/ubl/maindoc/UBL-Catalogue-2.0.xsd" />
         <xsd:element name="distributeCatalogue">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="distributeCatalogueResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="distributeCatalogueAsync">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="input" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="distributeCatalogueAsyncCallback">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
                  <xsd:element name="output" nillable="true" type="ns1:CatalogueType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="distributeCatalogueAsyncCallbackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <!-- Async -->
         <xsd:element name="alive">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aliveResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="output" nillable="true" type="xsd:boolean" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="distributeCatalogueRequestMsg">
      <wsdl:part element="tns:distributeCatalogue" name="payload" />
   </wsdl:message>
   <wsdl:message name="distributeCatalogueResponseMsg">
      <wsdl:part element="tns:distributeCatalogueResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="distributeCatalogueAsyncRequestMsg">
      <wsdl:part element="tns:distributeCatalogueAsync" name="payload" />
   </wsdl:message>
   <wsdl:message name="distributeCatalogueAsyncCallbackRequestMsg">
      <wsdl:part element="tns:distributeCatalogueAsyncCallback" name="payload" />
   </wsdl:message>
   <wsdl:message name="distributeCatalogueAsyncCallbackResponseMsg">
      <wsdl:part element="tns:distributeCatalogueAsyncCallbackResponse" name="payload" />
   </wsdl:message>
   <!-- Async -->
   <wsdl:message name="aliveRequestMsg">
      <wsdl:part element="tns:alive" name="payload" />
   </wsdl:message>
   <wsdl:message name="aliveResponseMsg">
      <wsdl:part element="tns:aliveResponse" name="payload" />
   </wsdl:message>
   <wsdl:portType name="UBL_CreateCatalogueProcess_ProviderParty_DistributeCatalogue">
      <wsdl:operation name="distributeCatalogue">
         <wsdl:input message="tns:distributeCatalogueRequestMsg" name="distributeCatalogueRequest" />
         <wsdl:output message="tns:distributeCatalogueResponseMsg" name="distributeCatalogueResponse" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="distributeCatalogueAsync">
         <wsdl:input message="tns:distributeCatalogueAsyncRequestMsg" name="distributeCatalogueAsyncRequest" />
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
         <wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UBL_CreateCatalogueProcess_ProviderParty_DistributeCatalogueServiceBinding" type="tns:UBL_CreateCatalogueProcess_ProviderParty_DistributeCatalogue">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="distributeCatalogue">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/distributeCatalogue/distributeCatalogue" />
         <wsdl:input name="distributeCatalogueRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="distributeCatalogueResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="distributeCatalogueAsync">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/distributeCatalogue/distributeCatalogueAsync" />
         <wsdl:input name="distributeCatalogueAsyncRequest">
            <soap:body use="literal" />
         </wsdl:input>
      </wsdl:operation>
      <!-- Async -->
      <wsdl:operation name="alive">
         <soap:operation soapAction="http://ubl.oasis.services/sourcing/catalogueprovision/createcatalogueprocess/providerParty/distributeCatalogue/alive" />
         <wsdl:input name="aliveRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="aliveResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UBL_CreateCatalogueProcess_ProviderParty_DistributeCatalogueService">
      <wsdl:port name="UBL_CreateCatalogueProcess_ProviderParty_DistributeCatalogueServicePort" binding="tns:UBL_CreateCatalogueProcess_ProviderParty_DistributeCatalogueServiceBinding">
         <soap:address location="http://localhost:8082/services/ubl/createcatalogueprocess/providerParty/distributeCatalogue" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>