catalog/services/specifications/impl/src/main/resources/process_standards/ubl/wsdl/payment/paymentprocess/accountingSupplier/UBL_PaymentProcess_AccountingSupplier_ReceiveAdvice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UBL_PaymentProcess_AccountingSupplier_ReceiveAdvice" targetNamespace="http://ubl.oasis.services/payment/paymentprocess/accountingSupplier/receiveAdvice"
	xmlns:tns="http://ubl.oasis.services/payment/paymentprocess/accountingSupplier/receiveAdvice" xmlns:ns1="urn:oasis:names:specification:ubl:schema:xsd:RemittanceAdvice-2"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pctx="http://gsigma.ufsc.br/processContext" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://ubl.oasis.services/payment/paymentprocess/accountingSupplier/receiveAdvice" xmlns:tns="http://ubl.oasis.services/payment/paymentprocess/accountingSupplier/receiveAdvice">
			<xsd:import namespace="http://gsigma.ufsc.br/processContext" schemaLocation="xsd/processContext.xsd" />
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:RemittanceAdvice-2" schemaLocation="xsd/ubl/maindoc/UBL-RemittanceAdvice-2.0.xsd" />
			<xsd:element name="receiveAdvice">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="input" nillable="true" type="ns1:RemittanceAdviceType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="receiveAdviceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="output" nillable="true" type="ns1:RemittanceAdviceType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Async -->
			<xsd:element name="receiveAdviceAsync">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
						<xsd:element name="input" nillable="true" type="ns1:RemittanceAdviceType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="receiveAdviceAsyncCallback">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
						<xsd:element name="output" nillable="true" type="ns1:RemittanceAdviceType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="receiveAdviceAsyncCallbackResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="processContext" nillable="false" type="pctx:ProcessContext" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Async -->
			<xsd:element name="alive">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="aliveResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="output" nillable="true" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="receiveAdviceRequestMsg">
		<wsdl:part element="tns:receiveAdvice" name="payload" />
	</wsdl:message>
	<wsdl:message name="receiveAdviceResponseMsg">
		<wsdl:part element="tns:receiveAdviceResponse" name="payload" />
	</wsdl:message>
	<!-- Async -->
	<wsdl:message name="receiveAdviceAsyncRequestMsg">
		<wsdl:part element="tns:receiveAdviceAsync" name="payload" />
	</wsdl:message>
	<wsdl:message name="receiveAdviceAsyncCallbackRequestMsg">
		<wsdl:part element="tns:receiveAdviceAsyncCallback" name="payload" />
	</wsdl:message>
	<wsdl:message name="receiveAdviceAsyncCallbackResponseMsg">
		<wsdl:part element="tns:receiveAdviceAsyncCallbackResponse" name="payload" />
	</wsdl:message>
	<!-- Async -->
	<wsdl:message name="aliveRequestMsg">
		<wsdl:part element="tns:alive" name="payload" />
	</wsdl:message>
	<wsdl:message name="aliveResponseMsg">
		<wsdl:part element="tns:aliveResponse" name="payload" />
	</wsdl:message>
	<wsdl:portType name="UBL_PaymentProcess_AccountingSupplier_ReceiveAdvice">
		<wsdl:operation name="receiveAdvice">
			<wsdl:input message="tns:receiveAdviceRequestMsg" name="receiveAdviceRequest" />
			<wsdl:output message="tns:receiveAdviceResponseMsg" name="receiveAdviceResponse" />
		</wsdl:operation>
		<!-- Async -->
		<wsdl:operation name="receiveAdviceAsync">
			<wsdl:input message="tns:receiveAdviceAsyncRequestMsg" name="receiveAdviceAsyncRequest" />
		</wsdl:operation>
		<!-- Async -->
		<wsdl:operation name="alive">
			<wsdl:input message="tns:aliveRequestMsg" name="aliveRequest" />
			<wsdl:output message="tns:aliveResponseMsg" name="aliveResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UBL_PaymentProcess_AccountingSupplier_ReceiveAdviceServiceBinding" type="tns:UBL_PaymentProcess_AccountingSupplier_ReceiveAdvice">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="receiveAdvice">
			<soap:operation soapAction="http://ubl.oasis.services/payment/paymentprocess/accountingSupplier/receiveAdvice/receiveAdvice" />
			<wsdl:input name="receiveAdviceRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="receiveAdviceResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<!-- Async -->
		<wsdl:operation name="receiveAdviceAsync">
			<soap:operation soapAction="http://ubl.oasis.services/payment/paymentprocess/accountingCustomer/receiveAdvice/receiveAdviceAsync" />
			<wsdl:input name="receiveAdviceAsyncRequest">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<!-- Async -->
		<wsdl:operation name="alive">
			<soap:operation soapAction="http://ubl.oasis.services/payment/paymentprocess/accountingSupplier/receiveAdvice/alive" />
			<wsdl:input name="aliveRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="aliveResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<!-- <wsdl:service name="UBL_PaymentProcess_AccountingSupplier_ReceiveAdviceService"> -->
	<!-- <wsdl:port name="UBL_PaymentProcess_AccountingSupplier_ReceiveAdviceServicePort" binding="tns:UBL_PaymentProcess_AccountingSupplier_ReceiveAdviceServiceBinding"> -->
	<!-- <soap:address location="http://localhost:8082/services/ubl/paymentprocess/accountingSupplier/receiveAdvice" /> -->
	<!-- </wsdl:port> -->
	<!-- </wsdl:service> -->
</wsdl:definitions>